---
layout: default
title: "Noticias"
---

<div id="bookContainer" class="book-container">
  <div class="book" id="book"></div>
</div>

<script id="noticias-data" type="application/json">
[
  {% for noticia in site.noticias %}
  {
    "cat": "{{ noticia.category }}",
    "title": {{ noticia.title | jsonify }},
    "img": "{{ noticia.image }}",
    "author": "{{ noticia.author }} · {{ noticia.date | date: '%d %b %Y' }}",
    "text": {{ noticia.excerpt | strip_html | jsonify }},
    "url": "{{ noticia.url | relative_url }}"
  }{% unless forloop.last %},{% endunless %}
  {% endfor %}
]
</script>

<script src="{{ '/assets/js/periodico.js' | relative_url }}"></script>
